@import "tailwindcss";

/* src/styles/global.css */
@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ... outras fontes se necessário ... */

:root {
    --color-primary: #519cae;
    /* Azul-petróleo do botão */
    --color-secondary: #f5f5f5;
    /* Fundo claro das outras seções */
    --font-serif: "Playfair Display", serif;
    /* Fonte serifada para títulos */
    --font-sans: "Roboto", sans-serif;
    /* Fonte sans-serif para texto */
}

body {
    margin: 0;
    font-family: var(--font-sans);
    background-color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif);
}

a {
    text-decoration: none;
    color: inherit;
}